<header>
  <h1> 30 天架設 Node.js - Express 框架 </h1>
</header>

<style>
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  header h1 {
    font-size: 24px;
  }
</style>