<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/views/css/index.css"> <!-- 引入您的 CSS 文件 -->
</head>
<body>
    <!-- Header -->
    <%- include('header') %>
    <!-- Header -->
  <main>
    <form action="/login" method="post"> <!-- 登入表單 -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <button type="submit">Login</button>
    </form>
  </main>
    <!-- Footer -->
    <%- include('footer') %>
    <!-- Footer -->
</body>
</html>

