/* 重置一些默認樣式 */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* 基本頁面樣式 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* 主要內容區域填充剩餘空間 */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

main p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* 新的输入字段样式 */
form input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px; /* 根据需要设置宽度 */
  margin-bottom: 10px;
  font-size: 16px;
}

/* 新的按钮样式 */
form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 新的下拉菜单样式 */
form select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 275px; /* 根据需要设置宽度 */
  font-size: 16px;
  margin-bottom: 10px;
}




